/*Стиль для index.html*/
body {
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  color: #000000;
  margin: 0px;
}

:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #212121;
  --main-text-color: #757575;
  --secondary-text-color: #000000;
  --accent-color: #2196f3;
  --card-set-gar:30px
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}
ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*убрали точки*/
.list {
  list-style: none;
}

/* убрать подчеркивание*/
.link {
  text-decoration: none;
}
.container {
  width: 1200;
  padding: left 15px;
  padding-right: 15px;
  margin: 0 auto;
  padding-top: 94px;

}

/*-----HEADER------*/

.header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo {
  margin-right: 70px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.header-navigation {
  margin-top: 24px;
  margin-bottom: 25px;
  margin-left: 20px;
}

.header.container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}
.header-item:not(:last-child) {
  margin-right: 40px;
  
}
.header-accent {
  color: var(--secondary-text-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-ring {
  margin-left: auto;
  display: flex;
  /*align-items: center;*/
}

.header-mail,
.header-tel {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-left: auto;
  
}

.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}

/*----Контейнер Герой----*/
.section-hero {
  background-color: #2f303a;
  padding-top:94px; 
  padding-bottom: 94px;
  margin-bottom: 0px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  padding: left ; 
  padding: right;
}

.hero-title {
  display: block;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-left: 150px; 
  margin: bottom;
  padding-top: 40px; 
  }

.hero-buton {
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  vertical-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}
.hero-button.btn {
  display: flex;
  height: 50px;
  padding: 30px;
  text-align: center;
  align-items: center;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  border-radius: 4px;
  color: var(--main-title-color);
  background-color: var(--accent-color);
}

.hero-button.btn:hover,
.hero-button.btn:focus {
  color: var(--secondary-text-color);
}

/*--Контейнер преимущества работы--*/
.about{
  padding-bottom: 0
}
.about-container {
  padding-top: 20px;
  margin-bottom: 40px;
  background-color: #ccc;
  margin-left: 30px;
  margin-right: auto;
  margin-bottom: auto;
}
.section{
  padding-top:94px; 
  padding-bottom: 94px;
}
.about-list {
  height: 120px;
  outline: 1px;
  padding: 20px;
  margin: auto;
  list-style: none;
  display: flex;
  padding: top 30px;
}
.about-item {
  outline: 1px;
  margin-bottom: 94px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 24px;
  flex-wrap: wrap;
 
}

.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.about-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/* ---  Примеры работ---*/

.section.gallery {
  background-color: #F5F4FA;
  padding-top: 94px; 
  padding-bottom: 94px;

}

.container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*.gallery :not(:last-child) {
}*/

.gallery-title {
  margin-bottom: 30px; 
  padding-top: 94px;
}

.gallery-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-title-color);
}

 .gallery-list {
  display: flex;
 /* margin-top:-30px;
  margin-left:-30px;*/
  
}
.gallery-item:not(:last-child) {
  margin-right: 30px;
}

/*.gallery-item {
   *width: 370;
  flex-basis: calc(100% / 3 -30px);
   margin-left: 35px;
   margin-top: 30px; 
   margin-left: 30px;
}*/

/*---Команда работников---*/

.section{
padding-left: 94px;
padding-right: 94px;
flex-wrap: wrap;
}

.maters-title {
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.masters-list {
  display: flex;
  margin-left: 20px;
  margin-top: 40px;
  text-align: center;
  padding-bottom: 94px;
}
.masters-item:not(:last-child) {
  margin-right: 30px;
  flex-basis: calc(100% / 4 -30px);
  margin-left: 30px; 
}
.masters-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-title-color);
}
.masters-member  {
  text-align: center;
  padding-top:30px;
  
}
.masters-item-content {
  margin-top: 100px;
  border: 30px;
}
.masters-member {
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.masters-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.masters-text {
margin-top: 15px;
text-align: center;
}

/*-----HEADER-----*/
<!--шапка страницы портфолио-- >

 .header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-logo {
  margin-right: 70px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}
.header-item:not(:last-child) {
  margin-right: 40px;
  margin-left: 40px;
}
.header-accent {
  color: var(--secondary-text-color);
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
  
}

<!--авторизация-- > 

.header-ring {
  margin-left: auto;
  margin-right: auto;
  display: flex;

}

.header-mail,
.header-tel {
  font-weight: 500px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-right: 40px;
}

.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/* Портфолио  презентация*/

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  
}

.section{
padding-left: 94px;
padding-right: 94px;
}

.portfolio-list {
  display: flex;
  margin-left: 30px;
  padding-left: 22px;
  padding-top: 8px;
  padding-bottom: 10px;
}

.portfolio-item {
  display: flex;
  margin-right: 20px;
  padding-left: 22px;
  align-items: center;
}

.portfolio-item .item:not:last-child {
  margin-right: 8px;
}

.portfolio-button {
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);

}
.portfolio-button:hover,
.portfolio-button:focus {
  color: #f5f4fa;
  background-color: var(--accent-color);
}
/* Портфолио  презентация*/

.section{
padding-left: 94px;
padding-right: 94px;
margin: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;

}

.card-list {
  display: flex;
   flex-wrap: wrap;
   padding-bottom: 94px;
   margin-left:-30px;
   margin-top: 20px;
}

  .card-title {
    font-size: 18px;
    line-height: 2px;
    letter-spacing: 0.06em;
    color: var(--secondary-title-color);
    padding-top: 30px;
    padding-bottom: 4px;
    margin-top: -30px;
  outline: rgb(49, 21, 31);
  }

  .card-item {
     align-items: center;
     margin-left: 15px;
     margin-right: 15px;
  } 

   .cards-name{
   padding-left: 30px;
    padding-right: 30px;
    flex-basis: calc((100%-9px)/3);
    border: 0px;
    margin-top: 10px;
    box-shadow :rgba(146, 117, 117, 0.6);
  }

     .card-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
  }

    .card-text {
    padding: 15px;
    padding-left: 10px;
    margin-bottom: 15px;
    margin: 15px;
     box-shadow:sandybrown;
}

/*---ПОДВАЛ---*/

.footer {
  background-color: #2f303a;
  margin-left: auto;
  margin-bottom: auto;
  height:auto;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 70px;
}
.container {
 width: 1200px;
 margin: auto;
}

.logo-link {
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
  padding-top: 94px ;
   padding:15px ;
}

.footer-contacts {
margin-top: 30px;
margin-bottom: 30px;
}

.footer-list:hover,
.footer-list:focus {
  color: var(--accent-color);
}

.footer-list-list {
 display: flex ;
color: var(--accent-color);
   margin-bottom: 30px;
}

.footer-item{
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}
.footer-accent {
  color: #ffffff;
}
.footer-address {

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  
}

.footer-mail,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.51;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}


.footer-mail-link.footer-tel-link{
  display: flex;
  padding: 10px; 
  padding-bottom: 15px;
  margin-bottom: 15px;
  line-height: 10px;
}


.footer-tel link{
  margin-bottom: 60px; 
  margin-top: 15px;
}

