/*Стиль для index.html*/
body {
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  color: #000000;
  margin: 0px;
}

:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #212121;
  --main-text-color: #757575;
  --secondary-text-color: #000000;
  --accent-color: #2196f3;
  --card-set-gar:30px
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}
ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*убрали точки*/
.list {
  list-style: none;
}

/* убрать подчеркивание*/
.link {
  text-decoration: none;
}
.container {
  width: 1200;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*-----HEADER------*/

.header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo {
  margin-right: 70px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.header-navigation {
  margin-top: 24px;
  margin-bottom: 25px;
  margin-left: 20px;
}

.header.container {
  display: flex;
}

.header-list {
  display: flex;
}
.header-item:not(:last-child) {
  margin-right: 50px;
  
}
.header-accent {
  color: var(--secondary-text-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-ring {
  margin-left: auto;
  display: flex;
  /*align-items: center;*/
}

.header-mail,
.header-tel {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-left: auto;
  
}

.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}

/*----Контейнер Герой----*/
.section-hero {
  background-color: #2f303a;
  padding-top:94px; 
  padding-bottom: 94px;
}

.hero-title {
  display: block;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-left: 150px; 
  margin: bottom;
  padding-top: 40px; 
  }

.hero-buton {
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  vertical-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}
.hero-button.btn {
  display: flex;
  height: 50px;
  padding: 30px;
  text-align: center;
  align-items: center;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  border-radius: 4px;
  color: var(--main-title-color);
  background-color: var(--accent-color);
}

.hero-button.btn:hover,
.hero-button.btn:focus {
  color: var(--secondary-text-color);
}

/*--Контейнер преимущества работы--*/

.section {
  padding-top:94px; 
  padding-bottom: 94px;
}

.about{
  padding-bottom: 0px
}
.about-container {
  background-color: #ccc;
  
}
.about-list{
  margin: 0px;
  padding: 0px;
  list-style:none;
  display: flex;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-title {
 /* margin-bottom: 15px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;*/
  color: var(--secondary-text-color);
}
.about-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/* ---  Примеры работ---*/
.gallery {
  padding-top: 0px;
}

.gallery-title {
  margin-bottom: 50px; 
}
.gallery-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-title-color);
}

 .gallery-list {
 display: flex; 
 flex-wrap: wrap;
  list-style:none;
 justify-content: center
}
.gallery-item:not(:last-child) {
  margin-right: 30px;
  align-items: center;
  

}

/*---Команда работников---*/

.masters-title {
 font-size: 36px;
  line-height: 1.17;
  margin-right: 0px;
  color: var(--secondary-title-color);
}
.masters-title {
  margin-bottom: 50px;
 
}

.masters-list {
 display: flex;
 justify-content: center

}
.masters-item:not(:last-child) {
  margin-right: 30px;
  flex-basis: calc(100% / 4 -30px); 
}

.masters-member  {
  text-align: center;
  padding-top:30px; 
}
.masters-member {
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.masters-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.masters-text {
margin-top: 15px;
text-align: center;
}

/*-----HEADER-----*/
<!--шапка страницы портфолио-- >

.header {
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-logo {
  margin-right: 70px;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}
.header-item:not(:last-child) {
  margin-right: 30px;
  margin-left: 30px;
}
.header-accent {
  color: var(--secondary-text-color);
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
  
}

<!--авторизация-- > 

.header-ring {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.header-mail,
.header-tel {
  font-weight: 500px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-right: 30px;
}

.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/* Портфолио  презентация*/

.portfolio-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.portfolio-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button {
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);

}
.portfolio-button:hover,
.portfolio-button:focus {
  color: #f5f4fa;
  background-color: var(--accent-color);
}
/* Портфолио  презентация*/

.card-list {
  display: flex;
  flex-wrap: wrap;
 
}
.card-list{
margin-left: 30px;
}


  .card-title:not(:last-child){ 
  /*  font-size: 18px;
    line-height: 2px;
    letter-spacing: 0.06em;*/
    color: var(--secondary-title-color);
    padding-bottom: 4px;
  outline: rgb(49, 21, 31);
  }

  .card-item {
  flex-basis: calc(100% / 3 -30px) ;
    margin-left: 30px;
 
  } 

   .cards-name{
   margin: 30px;
   padding-left: 20px;
  padding-right: 20px;
  
    box-shadow :rgba(146, 117, 117, 0.6);
  }

     .card-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
  }

    .card-text {
 margin: 20px; 
 box-shadow:sandybrown;
}

/*---ПОДВАЛ---*/

.footer {
  background-color: #2f303a;
  margin-left: auto;
  margin-bottom: auto;
  height:auto;
  padding-top: 94px;
  padding-bottom: 60px;
  padding-left: 70px;
}

.logo-link {
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
 padding-top: 60px ;
  padding:15px ;
}

.footer-contacts {
margin-top: 30px;
margin-bottom: 30px;
}

.footer-list:hover,
.footer-list:focus {
  color: var(--accent-color);
}

.footer-list-list {
 display: flex ;
color: var(--accent-color);
  margin-bottom: 30px;
}

.footer-item{
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}
.footer-accent {
  color: #ffffff;
}
.footer-address {

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.51;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}


.footer-mail-link.footer-tel-link{
  display: flex;
  padding: 10px; 
  padding-bottom: 15px;
  margin-bottom: 15px;
  line-height: 10px;
}


.footer-tel link{
  margin-bottom: 60px; 
  margin-top: 15px;
}

